# intellij, vscode
.idea/
.vscode/
venv

# build artifacts, mac
__pycache__/
*.pyc
.DS_Store
.envrc


vars.txt
*.rpm
bridge_settings.yml
bridge_settings.sh

# project
*.env
bridge_config.yml
bridge_config.sh
db_drivers/
bridge_rpm/
bridge_docker_basic/run_container1.sh